@charset "UTF-8";

body {
  background-color: #faf2e4;
  margin: 0 10%;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Chewy', system-ui; 
  text-transform: uppercase;
  border-bottom: 1px solid #57b1dc;
  margin-top: 30px;
  color: #d1633c;
  font-size: 50px;
}

h2, 
h3, 
h4 {
  color: #d1633c;
  font-family: 'Chewy', system-ui;  
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
footer {
 border-top: 1px solid #57b1dc;
 text-align: center;
 padding-top: 1em;
}
footer svg {
 width: 40px;
 height: 30px;
 margin-left: .5em;
 margin-right: .5em;
 background-position: center 100px;
}
nav ul li a:hover {
  color: #57b1dc; 
  text-decoration: underline;
}

a img:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}
