
<style>
body {
  background-color: #F3DED2;
  margin: 0 10%;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #d1633c;
  margin-top: 30px;
  color: #d1633c;
  font-size: 5em;
}

h2 {
  text-align: center;
  font-family: "DM Serif Text", serif;
  color: #d1633c;
  font-size: 5em;
}

h3, h4, h5 {
  font-family: "DM Serif Text", serif;
  color: #d1633c;
  font-size: 5em;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
 padding: 1rem;
 display: inline-block;
}

p {
  text-align: left;
}

a {
  text-decoration: none;
  color: #d1633c;
}

a:hover {
  color: #a8432e; /* Darken the color when hovering */
  text-decoration: underline; /* Add an underline on hover */
}

a:active {
  color: #80231a; /* Change color when link is clicked */
}

a:focus {
  outline: 2px solid #d1633c; /* Add focus outline for accessibility */
}

ul li:hover {
  background-color: #f4e1d2; /* Light background color on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

ul li:active {
  background-color: #e0b7a1; /* Change background color when active (clicked) */
}
</style>


